* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    width: 100%;
    font-size: 16px;
    background: hsl(204, 43%, 93%);
    /*
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
    */
    
}

main{
    height: 50%;
    width: 650px;
   /*
    
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
    
    */
    margin-top: 125px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.join-our-community{
    background: #ffffff;
    padding: 40px;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
}

.join-our-community h1{
    color: hsl(179, 62%, 43%);
    margin-bottom: 10px;
}

.join-our-community h2{
    color:hsl(71, 73%, 54%);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.join-our-community p{
    color: hsl(218, 22%, 67%);
    opacity: 0.7;    
}

.monthly-sub-why-us{
    display: flex;
}

.monthly-sub{
    background: hsl(179, 62%, 43%);
    width: 50%;
    padding: 30px;
    color: hsl(204, 43%, 93%);
    border-radius: 0 0 0 10px;
}

.monthly-sub h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.monthly-sub span.dollar-29{
    font-size: 40px;
    font-weight: 700;
}

.monthly-sub span.per-month{
    padding-bottom: 10px;
    opacity: 0.8;
}

.monthly-sub p{
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    opacity: 0.8;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 12px) ;
}

button.cta-signup{
    width: 235px;
    height: 50px;
    color: hsl(204, 43%, 93%);
    background: hsl(71, 73%, 54%);
    border-style: none;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button.cta-signup:hover{
    cursor: pointer;
}

.why-us{
    background: #4abebd;
    width: 50%;
    border-radius: 0 0 10px 0;
    padding: 30px;
    color: hsl(204, 43%, 93%);
}

.why-us h2{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.why-us p{
    opacity: 0.8;
}